* {
    /* margin: auto; */
    /*Внешние отступы по умолчанию браузера*/
    /* padding: auto; */
    /*Внутриние отступы по умолчанию браузера*/
}

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap');

body {
    background-color: black;
    /*Цвет фона*/
    color: yellow;
    /*Цвет текста*/
    background-image: url('https://phonoteka.org/uploads/posts/2022-02/1645345943_58-phonoteka-org-p-fon-dlya-prevyushki-62.jpg');
    /*Картинка в фон*/
    background-repeat: no-repeat;
    /*Повторение картинки*/
    background-position: center;
    /*Позиция картинки*/
    height: 100vh;
    /*Высота, vh=%*/
    background-size: cover;
    /*Размер фона*/

}

.main_text {
    text-align: center;
    /*Расположение текса*/
    font-size: 20px;
    /*Размер текста*/
    font-style: italic;
    /*Наклон текста*/
    font-weight: 700;
    /*Жирность текста*/
    font-family: 'Agdasima', sans-serif;
    /*Шрифт текста*/
    text-transform: lowercase;
    word: spacing normal;
    /*Расстояние между словами*/
    letter-spacing: 2px;
    /*Расстояние между символами*/
    line-height: normal;
    /*Растояние между строками*/
}

.block {
    background: white;
    /*Цвет фона блока*/
    height: 80px;
    /*Высота блока*/
    width: 200px;
    /*Ширина блока*/
    border: 2px dotted black;
    /*Обводка блока и её стиль*/
    color: black;
    /*Цвет символов в блоке*/
    border-radius: 15px;
    /*Скругление углов блока*/
    opacity: 1;
    /*Прозрачность блока*/
    margin-left: 20px;
    /*Отступ внешней стороны блока*/
    padding: 0px;
    /*Отступ внутриней стороны блока*/
}